/* Tema Claro (padrão) */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #007bff;
}

/* Tema Escuro */
[data-theme='dark'] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
}
