@{
    ViewBag.Title = "Error";
}

<link href="~/Content/css/portal/error.css" rel="stylesheet" />

<h5>Ooops !</h5>
<h1>5</h1>
<h1>00</h1>
<div class="box">
    <span></span><span></span>
    <span></span><span></span>
    <span></span>
</div>
<div class="box">
    <span></span><span></span>
    <span></span><span></span>
    <span></span>
</div>
<p>
    Houve um problema interno na aplicação que nos impediu de prosseguir com sua solicitação. Sugerimos que você
    <br />
    <a href="~/">Volte para a Home</a>
    ou tente novamente mais tarde.
    <br />
    Pedimos desculpas e agradeçemos a sua compreensão. 😥
</p>
